<div id="home-container">
  <div class="note">
    <p>What is Lorem Ipsum?</p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
  <div class="home-page"></div>
  <div id="spring-cover"></div>
  <div id="summer-cover"></div>
  <div id="autumn-cover"></div>
  <div id="winter-cover"></div>
  <div id="title">
    <p id="spring">spring</p>
    <p id="summer">summer</p>
    <p id="autumn">autumn</p>
    <p id="winter">winter</p>
  </div>
</div>
