/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  font-family: monospace !important;
  height: 100%;
  font-size: larger;
  box-sizing: border-box;
}

.note {
  font-size: 12px;
  color: #0000007a;
}
