<div class="h-full w-full list-item">
  <form>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label> <mat-icon>music_note</mat-icon>Search</mat-label>
      <input matInput />
    </mat-form-field>
  </form>
  <div class="result w-full">
    <div class="scroll w-full">
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
      <div class="cursor-pointer w-full flex items-center result-item mb-1">
        <div class="w-full">
          <span class="song-name">RUNG ĐỘNG</span>
          <div class="flex justify-between">
            <span class="note">DƯƠNG EDWARD x VŨ KHẮC ANH</span>
            <span class="note">04:20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
