@keyframes auto-rotate {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.play-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  position: relative;
}

.pause {
  animation-play-state: paused !important;
}

.rotate-auto-class {
  -webkit-animation: auto-rotate 40s infinite;
  -moz-animation: auto-rotate 40s infinite;
  -ms-animation: auto-rotate 40s infinite;
  animation: auto-rotate 40s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

#play-animation {
  // &:hover {
  //   // transform: scale(1.04);
  // }
  width: 500px;
  height: 500px;
  transition: ease-in-out 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 15px black;
  background-image: url("https://scontent.fhan3-2.fna.fbcdn.net/v/t39.30808-6/279405459_1370206053447870_1681902971679281201_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=VcnB8zdRM6oAX90R6fr&_nc_ht=scontent.fhan3-2.fna&oh=00_AT8H0J0K57CX8KWT79-RX-KOcYkQeb_udN4JScEAzm0Xag&oe=62978C28");
}

.footer {
  width: 60%;
  align-items: center;
  text-align: center;
  .footer-action {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    button {
      transition: 0.1s;
      transition-timing-function: ease-in-out;
      &:hover {
        box-shadow: 0px 0px 30px 0px black;
        background-color: white;
        color: black;
      }
    }
  }
}

.center-action {
  margin: 0px 30px;
}

.high-index {
  z-index: 9;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 70%;
  color: white;
  word-break: break-word;
  text-align: center;
}

.time {
  color: white;
  font-weight: bold;
}
